@keyframes fadeOut {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}

.fadeOut {
  animation: fadeOut 2s infinite;
}

p::selection {
	background-color: red;
	background-image: linear-gradient(to right, blue, red);
}

.underline-link {
      text-decoration: underline;
    }
